/**
 * {{projectname}} -- {{author}}
 * Based on: https://github.com/exah/template-stylus
 */

//
// CONTENTS
//
// Depedencies........Third-party staff like Normalize or Bootstrap
// Global.............Setting and Mixins
// Base...............Typography and default styles
// Layout.............Layout classes like grids, media object, etc.
// Components.........Components styles like tabs, tables, articles, etc.
// Utils..............Helper classes for margins, paddings, hacks, etc.
//

//
// Depedencies
//

// @import '~normalize.css/normalize.css'


//
// Global
//
// Doesn't produce any markup.
// Can be imported in other styles / components directly
//

@import '{{globalfilename}}'


//
// Base
//

@import 'base/defaults'
@import 'base/document'
@import 'base/typography'


//
// Layout
// @prefix .l-[class]
//

+prefix-classes('l-')
  @import 'layout/grid'
  @import 'layout/media'
  @import 'layout/rect'


//
// Components (btn, nav, header, modal)
// @prefix .c-[name]
//

// +prefix-classes('c-')
//  @import ...


//
// Utils
// @prefix .u-[class]
//

+prefix-classes('u-')
  @import 'utils/display'
  @import 'utils/floats'
  @import 'utils/hacks'
  @import 'utils/margin'
  @import 'utils/overflow'
  @import 'utils/padding'
  @import 'utils/position'
  @import 'utils/responsive'
  @import 'utils/text'
