// {{project}}
// @author {{author}}
//
// 1. Third-party dependencies
// 2. Settings
// 3. Mixins
// 4. Base
// 5. Layout
// 6. Components
// 7. Utils
//

//
// 1. Third-party dependencies
//

// @import '~normalize.css/normalize.css'


//
// 2. Settings
//

@import 'settings/general'
@import 'settings/breakpoints'
@import 'settings/typografy'
@import 'settings/colors'
@import 'settings/grid'


//
// 3. Mixins
//

@import 'mixins/spacing'
@import 'mixins/reset-input'
@import 'mixins/flex-helpers'
@import 'mixins/flex-grid'


//
// 4. Base styles
//
//    document, defaults, typography, etc.
//    Often without Prefixes / classes
//

@import 'base/defaults'
@import 'base/document'
@import 'base/typography'


//
// 5. Layout
//    @prefix .l-[class]
//

+prefix-classes('l-')
  @import 'layout/grid'
  @import 'layout/media'


//
// 6. Components (btn, nav, header, modal)
//    @prefix .c-[name]
//

// +prefix-classes('c-')
//  @import ...


//
// 7. Utils
//    @prefix .u-[class]
//
//    Helper classes
//    Like spacing (margin, padding), common hacks, responsive, text-styles
//

+prefix-classes('u-')
  @import 'utils/display'
  @import 'utils/floats'
  @import 'utils/hacks'
  @import 'utils/margin'
  @import 'utils/overflow'
  @import 'utils/padding'
  @import 'utils/position'
  @import 'utils/responsive'
  @import 'utils/text'
