html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
html,
body {
  height: 100%;
}
html,
.html {
  font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  line-height: 1.25;
}
.u-display--block,
.u-d--block,
.u-display--b,
.u-d--b {
  display: block;
}
.u-display--inline-block,
.u-d--inline-block,
.u-display--ib,
.u-d--ib {
  display: inline-block;
}
.u-display--flex,
.u-d--flex,
.u-display--fl,
.u-d--fl {
  display: flex;
}
.u-display--inline-flex,
.u-d--inline-flex,
.u-display--ifl,
.u-d--ifl {
  display: flex;
}
.u-display--table,
.u-d--table,
.u-display--tb,
.u-d--tb {
  display: table;
}
.u-display--table-cell,
.u-d--table-cell,
.u-display--tb-cl,
.u-d--tb-cl {
  display: table-cell;
}
.u-display--table-row,
.u-d--table-row,
.u-display--tb-rw,
.u-d--tb-rw {
  display: table-row;
}
.u-hack--context {
  opacity: 0.999;
}
.u-hack--gpu {
  transform: translateZ(0);
}
.u-hack--backface {
  backface-visibility: hidden;
}
.u-hack--overflow {
  overflow: hidden;
}
.u-margin-none,
.u-mg-none {
  margin: 0rem;
}
.u-margin-none--top,
.u-mg-none--top {
  margin-top: 0rem;
}
.u-margin-none--bottom,
.u-mg-none--bottom {
  margin-bottom: 0rem;
}
.u-margin-none--right,
.u-mg-none--right {
  margin-right: 0rem;
}
.u-margin-none--left,
.u-mg-none--left {
  margin-left: 0rem;
}
.u-margin-none--x,
.u-mg-none--x {
  margin-left: 0rem;
  margin-right: 0rem;
}
.u-margin-none--y,
.u-mg-none--y {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.u-margin,
.u-mg {
  margin: 1rem;
}
.u-margin--top,
.u-mg--top {
  margin-top: 1rem;
}
.u-margin--bottom,
.u-mg--bottom {
  margin-bottom: 1rem;
}
.u-margin--right,
.u-mg--right {
  margin-right: 1rem;
}
.u-margin--left,
.u-mg--left {
  margin-left: 1rem;
}
.u-margin--x,
.u-mg--x {
  margin-left: 1rem;
  margin-right: 1rem;
}
.u-margin--y,
.u-mg--y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.u-margin-2,
.u-mg-2 {
  margin: 2rem;
}
.u-margin-2--top,
.u-mg-2--top {
  margin-top: 2rem;
}
.u-margin-2--bottom,
.u-mg-2--bottom {
  margin-bottom: 2rem;
}
.u-margin-2--right,
.u-mg-2--right {
  margin-right: 2rem;
}
.u-margin-2--left,
.u-mg-2--left {
  margin-left: 2rem;
}
.u-margin-2--x,
.u-mg-2--x {
  margin-left: 2rem;
  margin-right: 2rem;
}
.u-margin-2--y,
.u-mg-2--y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.u-margin-3,
.u-mg-3 {
  margin: 3rem;
}
.u-margin-3--top,
.u-mg-3--top {
  margin-top: 3rem;
}
.u-margin-3--bottom,
.u-mg-3--bottom {
  margin-bottom: 3rem;
}
.u-margin-3--right,
.u-mg-3--right {
  margin-right: 3rem;
}
.u-margin-3--left,
.u-mg-3--left {
  margin-left: 3rem;
}
.u-margin-3--x,
.u-mg-3--x {
  margin-left: 3rem;
  margin-right: 3rem;
}
.u-margin-3--y,
.u-mg-3--y {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.u-margin-4,
.u-mg-4 {
  margin: 4rem;
}
.u-margin-4--top,
.u-mg-4--top {
  margin-top: 4rem;
}
.u-margin-4--bottom,
.u-mg-4--bottom {
  margin-bottom: 4rem;
}
.u-margin-4--right,
.u-mg-4--right {
  margin-right: 4rem;
}
.u-margin-4--left,
.u-mg-4--left {
  margin-left: 4rem;
}
.u-margin-4--x,
.u-mg-4--x {
  margin-left: 4rem;
  margin-right: 4rem;
}
.u-margin-4--y,
.u-mg-4--y {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.u-margin-5,
.u-mg-5 {
  margin: 5rem;
}
.u-margin-5--top,
.u-mg-5--top {
  margin-top: 5rem;
}
.u-margin-5--bottom,
.u-mg-5--bottom {
  margin-bottom: 5rem;
}
.u-margin-5--right,
.u-mg-5--right {
  margin-right: 5rem;
}
.u-margin-5--left,
.u-mg-5--left {
  margin-left: 5rem;
}
.u-margin-5--x,
.u-mg-5--x {
  margin-left: 5rem;
  margin-right: 5rem;
}
.u-margin-5--y,
.u-mg-5--y {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.u-overflow-auto,
.u-o-auto {
  overflow: auto;
}
.u-overflow-auto--x,
.u-o-auto--x {
  overflow-x: auto;
}
.u-overflow-auto--y,
.u-o-auto--y {
  overflow-y: auto;
}
.u-overflow-hidden,
.u-o-hidden {
  overflow: hidden;
}
.u-overflow-hidden--x,
.u-o-hidden--x {
  overflow-x: hidden;
}
.u-overflow-hidden--y,
.u-o-hidden--y {
  overflow-y: hidden;
}
.u-overflow-touch,
.u-o-touch {
  -webkit-overflow-scrolling: touch;
}
.u-overflow-scroll--x,
.u-o-scroll--x {
  overflow-x: auto;
  overflow-y: hidden;
}
.u-overflow-scroll--y,
.u-o-scroll--y {
  overflow-x: hidden;
  overflow-y: auto;
}
.u-padding-none,
.u-pad-none {
  padding: 0rem;
}
.u-padding-none--top,
.u-pad-none--top {
  padding-top: 0rem;
}
.u-padding-none--bottom,
.u-pad-none--bottom {
  padding-bottom: 0rem;
}
.u-padding-none--right,
.u-pad-none--right {
  padding-right: 0rem;
}
.u-padding-none--left,
.u-pad-none--left {
  padding-left: 0rem;
}
.u-padding-none--x,
.u-pad-none--x {
  padding-left: 0rem;
  padding-right: 0rem;
}
.u-padding-none--y,
.u-pad-none--y {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.u-padding,
.u-pad {
  padding: 1rem;
}
.u-padding--top,
.u-pad--top {
  padding-top: 1rem;
}
.u-padding--bottom,
.u-pad--bottom {
  padding-bottom: 1rem;
}
.u-padding--right,
.u-pad--right {
  padding-right: 1rem;
}
.u-padding--left,
.u-pad--left {
  padding-left: 1rem;
}
.u-padding--x,
.u-pad--x {
  padding-left: 1rem;
  padding-right: 1rem;
}
.u-padding--y,
.u-pad--y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.u-padding-2,
.u-pad-2 {
  padding: 2rem;
}
.u-padding-2--top,
.u-pad-2--top {
  padding-top: 2rem;
}
.u-padding-2--bottom,
.u-pad-2--bottom {
  padding-bottom: 2rem;
}
.u-padding-2--right,
.u-pad-2--right {
  padding-right: 2rem;
}
.u-padding-2--left,
.u-pad-2--left {
  padding-left: 2rem;
}
.u-padding-2--x,
.u-pad-2--x {
  padding-left: 2rem;
  padding-right: 2rem;
}
.u-padding-2--y,
.u-pad-2--y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.u-padding-3,
.u-pad-3 {
  padding: 3rem;
}
.u-padding-3--top,
.u-pad-3--top {
  padding-top: 3rem;
}
.u-padding-3--bottom,
.u-pad-3--bottom {
  padding-bottom: 3rem;
}
.u-padding-3--right,
.u-pad-3--right {
  padding-right: 3rem;
}
.u-padding-3--left,
.u-pad-3--left {
  padding-left: 3rem;
}
.u-padding-3--x,
.u-pad-3--x {
  padding-left: 3rem;
  padding-right: 3rem;
}
.u-padding-3--y,
.u-pad-3--y {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.u-padding-4,
.u-pad-4 {
  padding: 4rem;
}
.u-padding-4--top,
.u-pad-4--top {
  padding-top: 4rem;
}
.u-padding-4--bottom,
.u-pad-4--bottom {
  padding-bottom: 4rem;
}
.u-padding-4--right,
.u-pad-4--right {
  padding-right: 4rem;
}
.u-padding-4--left,
.u-pad-4--left {
  padding-left: 4rem;
}
.u-padding-4--x,
.u-pad-4--x {
  padding-left: 4rem;
  padding-right: 4rem;
}
.u-padding-4--y,
.u-pad-4--y {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.u-padding-5,
.u-pad-5 {
  padding: 5rem;
}
.u-padding-5--top,
.u-pad-5--top {
  padding-top: 5rem;
}
.u-padding-5--bottom,
.u-pad-5--bottom {
  padding-bottom: 5rem;
}
.u-padding-5--right,
.u-pad-5--right {
  padding-right: 5rem;
}
.u-padding-5--left,
.u-pad-5--left {
  padding-left: 5rem;
}
.u-padding-5--x,
.u-pad-5--x {
  padding-left: 5rem;
  padding-right: 5rem;
}
.u-padding-5--y,
.u-pad-5--y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 1201px) {
  .u-show\@default {
    display: none;
  }
}
@media (max-width: 1200px) {
  .u-hide\@default {
    display: none;
  }
}
.u-text-style,
.u-t-style,
.u-text-s,
.u-t-s {
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
}
.u-text-style--smaller,
.u-t-style--smaller,
.u-text-s--smaller,
.u-t-s--smaller {
  font-size: 0.9rem;
  line-height: 1.25;
}
.u-text-style--bigger,
.u-t-style--bigger,
.u-text-s--bigger,
.u-t-s--bigger {
  font-size: 1.2rem;
  line-height: 1.25;
}
.u-text-align--right,
.u-t-align--right,
.u-text-a--right,
.u-t-a--right {
  text-align: right;
}
.u-text-align--left,
.u-t-align--left,
.u-text-a--left,
.u-t-a--left {
  text-align: right;
}
.u-text-align--center,
.u-t-align--center,
.u-text-a--center,
.u-t-a--center {
  text-align: center;
}
.u-text-cols--0,
.u-t-cols--0 {
  columns: 0;
  column-gap: 1rem;
}
.u-text-cols--1,
.u-t-cols--1 {
  columns: 1;
  column-gap: 1rem;
}
.u-text-cols--2,
.u-t-cols--2 {
  columns: 2;
  column-gap: 1rem;
}
.u-text-cols--3,
.u-t-cols--3 {
  columns: 3;
  column-gap: 1rem;
}
.u-text-cols--4,
.u-t-cols--4 {
  columns: 4;
  column-gap: 1rem;
}
.u-text-cols--5,
.u-t-cols--5 {
  columns: 5;
  column-gap: 1rem;
}
.u-text-cols--6,
.u-t-cols--6 {
  columns: 6;
  column-gap: 1rem;
}
.u-text-cols--7,
.u-t-cols--7 {
  columns: 7;
  column-gap: 1rem;
}
.u-text-cols--8,
.u-t-cols--8 {
  columns: 8;
  column-gap: 1rem;
}
.u-text-cols--9,
.u-t-cols--9 {
  columns: 9;
  column-gap: 1rem;
}
.u-text-cols--10,
.u-t-cols--10 {
  columns: 10;
  column-gap: 1rem;
}
.u-text--uppercase,
.u-t--uppercase {
  text-transform: uppercase;
}
.u-text--underline,
.u-t--underline {
  text-decoration: underline;
}
.u-text--nowrap,
.u-t--nowrap {
  white-space: nowrap;
}
.u-text--black,
.u-t--black {
  font-weight: 900;
}
.u-text--bold,
.u-t--bold {
  font-weight: 700;
}
.u-text--medium,
.u-t--medium {
  font-weight: 500;
}
.u-text--normal,
.u-t--normal {
  font-weight: 400;
}
.u-text--light,
.u-t--light {
  font-weight: 300;
}
.u-text--thin,
.u-t--thin {
  font-weight: 100;
}
