//
// Breakpoints
//

$bp = {
  default: 1200px
  small: 450px
}

bp($key = 'default')
  return $bp[$key]

media-from($key = 'default')
  @media (min-width: bp($key) + 1px)
    { block }

media-to($key = 'default')
  @media (max-width: bp($key))
    { block }


// Example usage:
//
// .show
//   for $name, $width in $bp
//     +media-from($name)
//       &{ '\@' + $name }
//         display: none
//
