.media
  &
  &__content
    overflow: hidden

  &__side
    float: left
    margin-right: $gap

    &--right
      float: right
      margin-left: $gap

    img
      display: block
      max-width: 100%



