.display
.d
  &--block
  &--b
    display: block

  &--inline-block
  &--ib
    display: inline-block

  &--flex
  &--fl
    display: flex

    flex-helpers-container()

  &--inline-flex
  &--ifl
    display: flex

    flex-helpers-items()

  &--table
  &--tbl
    display: table

  &--table-cell
  &--tbl-cell
    display: table-cell

  &--table-row
  &--tbl-row
    display: table-row

