.overflow
.o
  &-auto
    overflow: auto

  &-auto--x
    overflow-x: auto

  &-auto--y
    overflow-y: auto

  &-hidden
    overflow: hidden

  &-hidden--x
    overflow-x: hidden

  &-hidden--y
    overflow-y: hidden

  &-touch
    -webkit-overflow-scrolling: touch

  &-scroll--x
    overflow-x: auto
    overflow-y: hidden

  &-scroll--y
    overflow-x: hidden
    overflow-y: auto
