// Floats

.float
.fl
  &--left
    float: left
  &--right
    float: right

.clear
.cl
  &--left
    clear: left
  &--right
    clear: right
  &--both
    clear: both

// Clearfix
// @see http://cssmojo.com/the-very-latest-clearfix-reloaded/

.clearfix
.cf
  &::after
    content: ""
    display: block
    clear: both
