.display
.d
  &--block
  &--b
    display: block

  &--inline-block
  &--ib
    display: inline-block

  &--flex
  &--fl
    display: flex

  &--inline-flex
  &--ifl
    display: flex

  &--table
  &--tb
    display: table

  &--table-cell
  &--tb-cl
    display: table-cell

  &--table-row
  &--tb-rw
    display: table-row

