.position
.pos
  position: static

  &--relative
  &--rel
    position: relative

  &--absolute
  &--abs
    position: absolute

  &--fixed
  &--fx
    position: fixed

  &-to
    &--top
      top: 0

    &--bottom
      bottom: 0

    &--right
      right: 0

    &--left
      left: 0

  &-fill
    top: 0
    right: 0
    left: 0
    right: 0

    &--x
      left: 0
      right: 0

    &--y
      top: 0
      bottom: 0

