//
// Typografy settings
//

$default-font-family = 'sans-serif'

$system-sans-serif = -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif
$system-serif = TimesNewRoman, 'Times New Roman', Times, Georgia, Baskerville,serif;

$fonts = {
  sans-serif: $system-sans-serif
  serif: $system-serif
}

$font-sizes = {
  default : 16px
  smaller : .9rem
  bigger  : 1.2rem
}

$line-heights = {
  default : 1.25
  smaller : 1.25
  bigger  : 1.25
}

$font-weights = {
  default: normal
}

$text-styles = keys( merge( {}, $font-sizes, $line-heights, $font-weights ) )

-font-family($type = $default-font-family)
  return unquote($fonts[$type])

text-style($style = 'default', $type = false)
  font-family: $fonts[$type]         if $type
  font-size: $font-sizes[$style]     if $style in $font-sizes
  line-height: $line-heights[$style] if $style in $line-heights
  font-weight: $font-weights[$style] if $style in $font-weights
