//
// Typografy settings
//

$default-font-family = 'sans-serif'

$system-sans-serif = -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif
$system-serif = TimesNewRoman, 'Times New Roman', Times, Georgia, Baskerville,serif;

$system-mono = Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,monospace;

$fonts = {
  sans-serif: $system-sans-serif
  serif: $system-serif
  mono: $system-mono
}

$font-sizes = {
  root    : 16px
  default : 1rem
  smaller : .9rem
  bigger  : 1.2rem
}

$line-heights = {
  root    : 1.25
  default : 1.25
  smaller : 1.25
  bigger  : 1.25
}

$font-weights = {
  root    : normal
  default : normal
}

$text-styles = keys( merge( {}, $font-sizes, $line-heights, $font-weights ) )

-get-text-style($style = 'default')
  return {
    font-size   : $font-sizes[$style]
    line-height : $line-heights[$style]
    font-weight : $font-weights[$style]
  }

text-style($style = 'default', $type = false)
  font-family: $fonts[$type] if $type

  for $property, $value in -get-text-style($style)
    {$property}: $value if $value
